body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #bfe1da;
  transition: 0.1s;
}

#footer {
  background-color: #e5963a;
  text-align: center;
  color: #fff;
  padding: 10px;
}

#til_top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: #e5963a;
  color: #fff;
  z-index: 1;
}

.besked {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.synopsis {
  margin: 50px auto;
  max-width: 700px;
  padding: 0.5em;
}


/*---------------Mobile first---------------*/

/*---------------Navigation---------------*/


#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #e5963a;
  z-index: 1;
  padding: 0.5em;
}

#navbar img {
  height: 30px;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0 30px;
}

#navbar ul li a {
  color: #e5963a;
  padding: 0.75em;
  margin: 0 0.25em;
  letter-spacing: 0.2em;
}

.nav_links {
  position: absolute;
  right: 0;
  top: 0;
  height: 50vh;
  width: 40vw;
  background-color: #efc688;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-180%);
}

.nav_links li {
  padding-top: 0;
  margin: 1em;
  font-size: 1.3em;
}

.drop {
  animation-name: drop_kf;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes drop_kf {
  from {
    transform: translateY(-180%);
  }

  to {
    transform: translateY(35px);
  }

}

#burger {
  display: block;
  cursor: pointer;
  position: relative;
  height: 25px;
  width: 30px;
}

#burger div {
  width: 30px;
  height: 3px;
  background-color: #fff;
  border-radius: 9px;
  position: absolute;
  left: 0;
  transition: 0.3s ease-in-out;
}

#line1 {
  top: 0;
}

#line2 {
  top: 10px;
}

#line3 {
  top: 10px;
}

#line4 {
  top: 20px;
}

#burger.open #line1 {
  top: 10px;
  width: 0%;
  left: 50%;
}

#burger.open #line2 {
  transform: rotate(45deg);
}

#burger.open #line3 {
  transform: rotate(-45deg);
}

#burger.open #line4 {
  top: 10px;
  width: 0%;
  left: 50%;
}



/*---------------SHOWCASE HEADER---------------*/

#forside {
  margin: 50px auto;
  width: 100vw;
}

#forside img {
  height: 95vh;
  width: 100vw;
  object-fit: cover;
}

#forside_txt {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 95vh;
  padding: 0 2em;
  color: #fff;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 2em;
}

#forside_txt img {
  width: 181.5px;
  height: 183px;
  margin-top: 50px;
}

#forside_txt p {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 0.8em;
}

#forside_txt a {
  margin-top: 100px;
  margin-bottom: 0;
  font-size: 0.8em;
}


/*---------------OM PRODUKTET---------------*/

#om_tuborg_nul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#om_tuborg_nul img {
  margin: auto;
  width: 200px;
  margin-top: 50px;
  margin-bottom: 75px;
}

.sectionwrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#om_tuborg_nul .col h2 {
  margin-top: 25px;
  margin-bottom: 0;
  font-size: 2.1em;
  text-align: center;
  font-weight: 100;
}

#om_tuborg_nul .col .txt {
  margin: 1.3em;
  margin-top: 3em;
  line-height: 2em;
}

#om_tuborg_nul h3 {
  margin: 10px 0 0 0;
}

#om_tuborg_nul p {
  margin: 0;
}

.turkis {
  background-color: #fff;
}


/*---------------Spillet---------------*/

#spil {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#spil img {
  margin: auto;
  width: 300px;
  margin-top: 50px;
}

#spil .col h2 {
  font-size: 2em;
  font-weight: 100;
  text-align: center;
}

#spil .col .txt {
  margin: 1.3em;
  line-height: 2em;
}

.pink {
  background-color: #fff;
}

#spil_spil .spilbaggrund {
  width: 90vw;
  height: 80vh;
  background-color: #bfe1da;
  margin-bottom: 50px;
  position: relative;
}

#nul {
  position: absolute;
  top: 20px;
  left: 30px;
  height: 30px;
  width: 90px;
  background-color: #ffa6bf;
  color: #fff;
  text-align: center;
  line-height: 30px;
  padding: 5px;
  border-radius: 10px;
}

#ord_god_s1 {
  background-color: #e5963a;
  color: #fff;
  text-align: center;
  line-height: 30px;
  padding: 5px;
  border-radius: 10px;
  z-index: 1;
  cursor: pointer;
}

.pos1 {
  position: absolute;
  top: 40%;
  left: 50%;
}

#ord_god_s2 {
  background-color: #e5963a;
  color: #fff;
  text-align: center;
  line-height: 30px;
  padding: 5px;
  border-radius: 10px;
  z-index: 1;
  cursor: pointer;
}

.pos2 {
  position: absolute;
  top: 70%;
  left: 10%;
}

#ord_god_s3 {
  background-color: #e5963a;
  color: #fff;
  text-align: center;
  line-height: 30px;
  padding: 5px;
  border-radius: 10px;
  z-index: 1;
  cursor: pointer;
}

.pos3 {
  position: absolute;
  top: 30%;
  left: 70%;
}

#ord_god_s4 {
  background-color: #e5963a;
  color: #fff;
  text-align: center;
  line-height: 30px;
  padding: 5px;
  border-radius: 10px;
  z-index: 1;
  cursor: pointer;
}

.pos4 {
  position: absolute;
  top: 20%;
  left: 10%;
}

#ord_god_s5 {
  background-color: #e5963a;
  color: #fff;
  text-align: center;
  line-height: 30px;
  padding: 5px;
  border-radius: 10px;
  z-index: 1;
  cursor: pointer;
}

.pos5 {
  position: absolute;
  top: 90%;
  left: 5%;
}

#ord_god_s6 {
  background-color: #e5963a;
  color: #fff;
  text-align: center;
  line-height: 30px;
  padding: 5px;
  border-radius: 10px;
  z-index: 1;
  cursor: pointer;
}

.pos6 {
  position: absolute;
  top: 60%;
  left: 5%;
}

#ord_god_s7 {
  background-color: #e5963a;
  color: #fff;
  text-align: center;
  line-height: 30px;
  padding: 5px;
  border-radius: 10px;
  z-index: 1;
  cursor: pointer;
}

.pos7 {
  position: absolute;
  top: 62%;
  left: 35%;
}

#ord_god_s8 {
  background-color: #e5963a;
  color: #fff;
  text-align: center;
  line-height: 30px;
  padding: 5px;
  border-radius: 10px;
  z-index: 1;
  cursor: pointer;
}

.pos8 {
  position: absolute;
  top: 23%;
  left: 55%;
}

#ord_god_s9 {
  background-color: #e5963a;
  color: #fff;
  text-align: center;
  line-height: 30px;
  padding: 5px;
  border-radius: 10px;
  z-index: 1;
  cursor: pointer;
}

.pos9 {
  position: absolute;
  top: 90%;
  left: 50%;
}

#ord_god_s10 {
  background-color: #e5963a;
  color: #fff;
  text-align: center;
  line-height: 30px;
  padding: 5px;
  border-radius: 10px;
  z-index: 1;
  cursor: pointer;
}

.pos10 {
  position: absolute;
  top: 80%;
  left: 30%;
}

#ord_god_s11 {
  background-color: #e5963a;
  color: #fff;
  text-align: center;
  line-height: 30px;
  padding: 5px;
  border-radius: 10px;
  z-index: 1;
  cursor: pointer;
}

.pos11 {
  position: absolute;
  top: 40%;
  left: 10%;
}

#ord_god_s12 {
  background-color: #e5963a;
  color: #fff;
  text-align: center;
  line-height: 30px;
  padding: 5px;
  border-radius: 10px;
  z-index: 1;
  cursor: pointer;
}

.pos12 {
  position: absolute;
  top: 50%;
  left: 5%;
}

#ord_bad_s13 {
  background-color: #e5963a;
  color: #fff;
  text-align: center;
  line-height: 30px;
  padding: 5px;
  border-radius: 10px;
  z-index: 1;
  cursor: pointer;
}

.pos13 {
  position: absolute;
  top: 49%;
  left: 38%;
}

#ord_bad_s14 {
  background-color: #e5963a;
  color: #fff;
  text-align: center;
  line-height: 30px;
  padding: 5px;
  border-radius: 10px;
  z-index: 1;
  cursor: pointer;
}

.pos14 {
  position: absolute;
  top: 53%;
  left: 56%;
}

#ord_bad_s15 {
  background-color: #e5963a;
  color: #fff;
  text-align: center;
  line-height: 30px;
  padding: 5px;
  border-radius: 10px;
  z-index: 1;
  cursor: pointer;
}

.pos15 {
  position: absolute;
  top: 44%;
  left: 73%;
}

#ord_bad_s16 {
  background-color: #e5963a;
  color: #fff;
  text-align: center;
  line-height: 30px;
  padding: 5px;
  border-radius: 10px;
  z-index: 1;
  cursor: pointer;
}

.pos16 {
  position: absolute;
  top: 15%;
  left: 68%;
}

#ord_bad_s17 {
  background-color: #e5963a;
  color: #fff;
  text-align: center;
  line-height: 30px;
  padding: 5px;
  border-radius: 10px;
  z-index: 1;
  cursor: pointer;
}

.pos17 {
  position: absolute;
  top: 70%;
  left: 42%;
}

#ord_bad_s18 {
  background-color: #e5963a;
  color: #fff;
  text-align: center;
  line-height: 30px;
  padding: 5px;
  border-radius: 10px;
  z-index: 1;
  cursor: pointer;
}

.pos18 {
  position: absolute;
  top: 30%;
  left: 4%;
}

#ord_bad_s19 {
  background-color: #e5963a;
  color: #fff;
  text-align: center;
  line-height: 30px;
  padding: 5px;
  border-radius: 10px;
  z-index: 1;
  cursor: pointer;
}

.pos19 {
  position: absolute;
  top: 80%;
  left: 3%;
}

#ord_bad_s20 {
  background-color: #e5963a;
  color: #fff;
  text-align: center;
  line-height: 30px;
  padding: 5px;
  border-radius: 10px;
  z-index: 1;
  cursor: pointer;
}

.pos20 {
  position: absolute;
  top: 32%;
  left: 38%;
}

.valgt {
  position: absolute;
  top: 50px;
  left: 35px;
}

.dead {
  filter: grayscale(1);
}

.svar {
  background-color: #ffa6bf;
  position: absolute;
  top: 100px;
  left: 20px;
  right: 20px;
  z-index: 2;
  border-radius: 10px;
  padding: 5px;
  color: #fff;
}

.instruks {
  background-color: #ffa6bf;
  position: absolute;
  top: 100px;
  left: 20px;
  right: 20px;
  z-index: 2;
  border-radius: 10px;
  padding: 5px;
  color: #fff;
}

.hide {
  display: none;
}

.hide2 {
  opacity: 0;
  pointer-events: none;
}

.fade_in {
  animation-name: fade_kf;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes fade_kf {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#energy_board {
  position: absolute;
  top: 20px;
  right: 15px;
  width: 92px;
  height: 42px;
  display: flex;
  flex-direction: row
}

#liv1,
#liv2,
#liv0 {
  background-image: url("img/liv.png");
  background-size: contain;
  height: 40px;
  width: 22.4px;
  margin: 0 4px;
}

#score_board {
  position: absolute;
  top: 65px;
  right: 20px;
}

#start {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a9d3ca;
}

#game_over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a9d3ca;
}

.btn {
  background-color: #e5963a;
  padding: 0.4em;
  border-radius: 5px;
  margin-top: 2em;
  margin: 1em;
  font-size: 2em;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  background-color: #efc688;
  color: #e5963a;
}


/*---------------MEDIA queries----------------*/

@media screen and (min-width:600px) {

  /*---------------Navigation---------------*/

  #burger {
    display: none;
  }

  #navbar {
    justify-content: space-around;
    padding: 0;
  }

  #navbar img {
    height: 40px;
  }

  #navbar ul {
    padding: 0;
  }

  #navbar li {
    margin: 0;
  }

  #navbar ul li a {
    color: #fff;
  }

  #navbar ul li a:hover {
    color: #bfe1da;
    transition: 0.1s;
  }

  .nav_links {
    position: relative;
    height: 30px;
    width: auto;
    margin-right: 120px;
    flex-direction: row;
    transform: translateY(0);
    background-color: #e5963a;
  }

  .nav_links li {
    font-size: 0.9em;
  }


  /*---------------Showcase---------------*/

  #showcase {
    height: 96vh;
  }

  #forside {
    margin: 50px auto;
  }

  #forside img {
    height: 95vh;
    object-fit: cover;
  }

  #forside_txt {
    height: 95vh;
    top: 50px;
  }

  #forside_txt img {
    width: 254.1px;
    height: 256.2px;
    margin-top: 30px;
  }

  #forside_txt p {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 0.8em;
  }

  #forside_txt a {
    margin-top: 100px;
  }

  #forside_txt a:hover {
    transform: scale(1.1);
  }



  /*---------------Om tuborg nul---------------*/

  #om_tuborg_nul {
    margin-bottom: 0;
  }

  #om_tuborg_nul .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #om_tuborg_nul .col {
    flex-basis: 700px;
    margin: 0.5em;
    margin-bottom: 50px;
  }

  #om_tuborg_nul .col .txt {
    margin-top: 3em;
    line-height: 2em;
    font-size: 1em;
  }

  #om_tuborg_nul h3 {
    margin: 15px 0 5px 0;
  }

  #om_tuborg_nul img {
    width: 300px;
    margin-top: 100px;
  }

  .turkis {
    background-color: #bfe1da;
  }


  /*---------------SPIL--------------*/

  #spil {
    margin-bottom: 0;
  }

  #spil .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #spil .col {
    flex-basis: 700px;
    margin: 0.5em;
    margin-bottom: 50px;
  }

  #spil .col .txt {
    line-height: 2em;
    font-size: 1.4em;
  }

  .pink {
    background-color: #ffa6bf;
    width: 100%
  }

  #spil img {
    width: 500px;
    margin-top: 100px;
  }

  #spil .spil_knap a {
    font-size: 2.5em;
    margin-left: 200px;
    margin-right: 200px;
  }

  #spil_spil {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #spil_spil .spilbaggrund {
    width: 700px;
  }

  #nul {
    height: 40px;
    width: 120px;
    line-height: 40px;
    font-size: 1.5em;
  }

  #ord_god_s1 {
    line-height: 40px;
    font-size: 1.5em;
  }

  #ord_god_s2 {
    line-height: 40px;
    font-size: 1.5em;
  }

  #ord_god_s3 {
    line-height: 40px;
    font-size: 1.5em;
  }

  #ord_god_s4 {
    line-height: 40px;
    font-size: 1.5em;
  }

  #ord_god_s5 {
    line-height: 40px;
    font-size: 1.5em;
  }

  #ord_god_s6 {
    line-height: 40px;
    font-size: 1.5em;
  }

  #ord_god_s7 {
    line-height: 40px;
    font-size: 1.5em;
  }

  #ord_god_s8 {
    line-height: 40px;
    font-size: 1.5em;
  }

  #ord_god_s9 {
    line-height: 40px;
    font-size: 1.5em;
  }

  #ord_god_s10 {
    line-height: 40px;
    font-size: 1.5em;
  }

  #ord_god_s11 {
    line-height: 40px;
    font-size: 1.5em;
  }

  #ord_god_s12 {
    line-height: 40px;
    font-size: 1.5em;
  }

  #ord_bad_s13 {
    line-height: 40px;
    font-size: 1.5em;
  }

  #ord_bad_s14 {
    line-height: 40px;
    font-size: 1.5em;
  }

  #ord_bad_s15 {
    line-height: 40px;
    font-size: 1.5em;
  }

  #ord_bad_s16 {
    line-height: 40px;
    font-size: 1.5em;
  }

  #ord_bad_s17 {
    line-height: 40px;
    font-size: 1.5em;
  }

  #ord_bad_s18 {
    line-height: 40px;
    font-size: 1.5em;
  }

  #ord_bad_s19 {
    line-height: 40px;
    font-size: 1.5em;
  }

  #ord_bad_s20 {
    line-height: 40px;
    font-size: 1.5em;
  }

  .valgt {
    position: absolute;
    top: 20px;
    left: 105px;
  }

  .dead {
    filter: grayscale(1);
  }

  .svar {
    top: 200px;
    left: 100px;
    right: 100px;
  }

  .instruks {
    top: 200px;
    left: 100px;
    right: 100px;
  }


}
