body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #fff;
}

i {
    color: #3d71ff;
    margin: 0;
    padding-right: 0.4em;
}

a:hover {
    color: #3d71ff;
    transition: 0.3s;
}

.btn {
    background-color: #3d71ff;
    padding: 0.4em;
    border-radius: 5px;
    margin-top: 2em;
    margin: 1em;
}

.btn:hover {
    background-color: #f5b348;
    color: #fff;
}

#footer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

#footer ul {
    text-decoration: none;
    list-style: none;
    font-size: 1em;
}

#footer .info {
    display: none;
}


/*-----------------Mobile first-------*/


.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
}

.burger {
    display: none;
    cursor: pointer;
}

.nav_links li {
    padding-top: 0;
    margin: 0;
    font-size: 1.3em;
}

.burger {
    display: block;
}


.nav-active {
    transform: translateY(0%);
}

#navbar .logo {
    width: 60px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background: #f5b348;
    color: #fff;
    z-index: 1;
    padding: 0.5em;
}


#navbar ul {
    /*Displays the child of the ul (the li)*/
    display: flex;
    /*Puts everything in the center (same level) in the flexbox*/
    align-items: center;
    /*removes bullets points*/
    list-style: none;
}

#navbar ul li a {
    color: #fff;
    padding: 0.75em;
    margin: 0 0.25em;
    letter-spacing: 0.2em;
    font-family: 'Raleway', sans-serif;
    font-size: 1.4em;
}


/*--------------------SHOWCASE HEADER------------------*/
#showcase {
    background-image: url(img/alcohol.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 95vh;
}

#showcase .showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2em;
    color: #fff;

    /*OVERLAY: we'll give the overlay a position of
    absolute so we can make an overlay*/
    position: absolute;
    /*top has to be the exact amount of px of the menu for the background to cover completely*/
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 2em;
}



/*------------------------OM PRODUKTET------------------*/



.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#om_tuborg_nul .col h2 {
    margin: 0.5em;
    margin-top: 3em;
    margin-bottom: 0.5em;
    font-size: 2em;
    text-align: center;
}

#om_tuborg_nul .col .txt {
    margin: 1.3em;
    margin-top: 3em;
    line-height: 2em;
}



#om_tuborg_nul img {
    margin: auto;
    width: 200px;
    margin-top: 4em;

}


/*-----------------------Spillet--------------------*/



#spil {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f5b348;
}

#spil .col h2 {
    margin: 0.5em;
    margin-top: 3em;
    margin-bottom: 0.5em;
    font-size: 2em;
    text-align: center;
}

#spil .col .txt {
    margin: 1.3em;
    margin-top: 3em;
    line-height: 2em;
}


#spil img {
    margin: auto;
    width: 300px;
    margin-top: 4em;
}

#spil .spil_knap {
    display: flex;
    justify-content: center;
}

#spil .spil_knap a {
    font-size: 1.5em;
}


/*---------------MEDIA queries----------------*/

@media screen and (min-width:600px) {

    .burger {
        display: none;
    }

    i {
        margin-right: 0.5em;
        color: #3d71ff;
    }

    #navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: sticky;
        top: 0;
        background: #f5b348;
        color: #fff;
        z-index: 1;
        padding: 0.5em;
    }

    #navbar .logo {
        width: 100px;
    }

    .nav_links li {
        margin: 0;
    }

    #navbar ul li a:hover {
        color: #3d71ff;
        transition: 0.3s;
    }

    #showcase {
        height: 92vh;
    }



    #om_tuborg_nul {
        max-width: 2000px;
        margin-bottom: 7em;
        margin: auto;
    }

    #om_tuborg_nul .sectionwrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #om_tuborg_nul .col {
        flex-basis: 650px;
        margin-top: 5em;
        margin-bottom: 10em;
    }

    #om_tuborg_nul .col .txt {
        margin-top: 3em;
        line-height: 2em;
        font-size: 1.6em;

    }

    #om_tuborg_nul img {
        width: 400px;
        margin-top: 13em;

    }


    #spil {
        margin-bottom: 7em;
        margin: auto;
        background-color: #f5b348;
        color: #fff;
    }

    #spil .sectionwrapper {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: center;
    }

    #spil .col {
        flex-basis: 700px;
        margin-right: 10em;
        margin-bottom: 3em;
    }

    #spil .col .txt {
        margin-top: 3em;
        line-height: 2em;
        font-size: 1.6em;

    }

    #spil img {
        width: 600px;
        margin-top: 18em;

    }

    #spil .spil_knap a {
        font-size: 2em;
        padding-right: 2em;
        padding-left: 2em;
        margin-bottom: 3em;
    }

    #spil .spil_knap a:hover {
        background-color: #3d71ff;
    }

    #footer {
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }

    #footer ul {
        text-decoration: none;
        list-style: none;
        font-size: 1.5em;
    }

    #footer ul li {
        padding: 0.2em;
    }
}



@media screen and (max-width:1024px) {
    .nav_links {
        width: 60%;
    }
}


@media screen and (max-width:768px) {

    html {
        overflow-x: hidden;
    }

    .nav_links {
        position: absolute;
        right: 0px;
        height: 60vh;
        top: -4vh;
        background-color: #f5b348;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40%;
        transform: translateY(-180%);
    }




    /*------------------Animationer-------------------*/

    .drop {
        animation-name: drop_kf;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
    }

    @keyframes drop_kf {
        from {
            transform: translateY(-130vw);
        }

        to {
            transform: translateY(2vw);
        }
    }
